.container {
  width: 32%;
  height: 100%;
  /* background-color: #e8dbdb; */
  border: 1px solid #e9e9e9;
}

.image_div {
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, #553171, #9062b5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_wrapper {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.name {
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  font-size: 25px;
  letter-spacing: 2px;
}

.designation {
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0, 85, 255); */
  font-size: 20px;
}

.linkedin {
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(176, 176, 176); */
  font-size: 20px;
  color: #a15dd7;
}

.info_details {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  margin-top: 50px;
  color: #a15dd7;
}

.details_btn {
  background-color: #eee4f5;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.details_btn a {
  text-decoration: none;
}
